.sidebar {
  width: 240px;                /* Ancho fijo */
  height: 100vh;               /* Altura completa de la pantalla */
  background: #4b3f8fee;       /* Morado con transparencia */
  color: #fff;                 /* Texto blanco */
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-header {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sidebar-logo {
  width: 123rem;
  height: 120px;
  object-fit: contain;
  margin-bottom: 1rem;
  border-radius: 50%;
}

.sidebar ul {
  list-style: none;
  padding: 10;
  margin: 0;
}

.sidebar li {
  margin: 1.7rem 0;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 13px;
  transition: color 0.3s ease;
}
/* Efecto dorado al pasar el mouse */
/* .sidebar a:hover {
  color: #FFD700; 
} */

.sidebar-footer {
  text-align: center;
  margin-top: 10rem;
}

.logout-btn {
  background-color: #ff4d4d;
  border: none;
  color: white;
  padding: 0.8rem 1rem;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  transition: background 0.3s ease;
}

.logout-btn:hover {
  background-color: #e60000;
}
