body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 1rem;
}

.main-content {
  display: flex;
  flex: 1;
}

 

.page-content {
  flex: 1;
  padding: 2rem;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table th {
  background-color: #6b1717;
  color: white;
}

/* formulario */

 .form {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 12px;
  margin-bottom: 30px;
}

.form input,
.form select,
.form button {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.form button:hover {
  background: #0056b3;
}


